<header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
</header>
<br>
<h4>Total products in store: <%= link_to @products.count, admin_products_path%></h2>
<br>

<h4>Total categories in store: <%= link_to @categories.count, admin_categories_path%></h2>
